* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  min-width: 320px;
  font-family: 'TTLakes', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.main-container {
  padding: 0 16px;
  padding-bottom: 35px;
}

@media (min-width: 767.98px) {
  .main-container {
    padding: 0 40px 0 24px;
    padding-bottom: 35px;
  }
}
@media (min-width: 1119.98px) {
  .main-container {
    padding: 0;
    padding-bottom: 50px;
    max-width: 1056px;
    margin: 0 auto;
  }
}
.header {
  background-color: #fff;
  padding: 0 16px;
}
.header__inner {
  min-height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}
.header__logo-separator {
  display: none;
}
.header__logo {
  margin-right: auto;
}
.header__buttons {
  display: none;
}
.header__bottom-border {
  border-bottom: 1px solid #d9fff5;
}

@media (min-width: 768px) {
  .header {
    padding: 0 40px 0 24px;
  }
  .header__logo-separator {
    display: block;
  }
  .header__buttons {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 1119.98px) {
  .header {
    display: none;
  }
}
.button {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 20px;
  display: flex;
}
.button img {
  margin: auto;
}

.button-text--before {
  color: #1b1c21;
  font-family: 'TTLakes';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: right;
}

.header__separator {
  background-image: url("../img/icons/separator.svg");
  width: 2px;
  height: 32px;
}

.main {
  background-color: #f8f8f8;
}
.main__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  margin-bottom: 16px;
  min-height: 40px;
}
.main__title {
  display: inline-block;
  min-height: 40px;
  color: #1b1c21;
  font-family: 'TTLakes';
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
}
.main__title::before {
  position: absolute;
  left: -16px;
  content: '';
  background-image: url("../img/highlight.svg");
  height: 40px;
  width: 4px;
}
.main__buttons {
  display: none;
}

@media (min-width: 768px) {
  .main__header {
    margin-bottom: 24px;
  }
  .main__title::before {
    left: -24px;
  }
}
@media (min-width: 1119.98px) {
  .main__header {
    padding-top: 41px;
  }
  .main__buttons {
    display: flex;
    column-gap: 32px;
  }
  .main__header-button {
    display: inline-flex;
    align-items: center;
    column-gap: 9px;
  }
  .main__header-icon-repair {
    background-image: url("../img/icons/ic_repair.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .main__header-icon-check-status {
    background-image: url("../img/icons/ic_checkstatus.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .main__title::before {
    left: -32px;
    width: 3px;
  }
}
.slider-nav {
  margin-left: -16px;
  margin-right: -16px;
}
.slider-nav__items {
  display: flex;
  overflow-x: scroll;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.slider-nav__link {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 8px 22px 8px 22px;
  flex-shrink: 0;
  color: #7e7e82;
  font-family: TTLakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  white-space: nowrap;
  border: 2px solid transparent;
}
.slider-nav__link:hover {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: white;
}

@media (min-width: 767.98px) {
  .slider-nav {
    margin-left: -24px;
    margin-right: -24px;
  }
  .slider-nav__items {
    padding-left: 24px;
  }
}
@media (min-width: 1119.98px) {
  .slider-nav {
    margin: 0;
  }
  .slider-nav__items {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-x: initial;
  }
  .slider-nav__link {
    padding: 8px 17px 8px 17px;
  }
}
.content-wrapper {
  padding-bottom: 35px;
}

@media (min-width: 767.98px) {
  .content-wrapper {
    padding: 0 24px;
  }
}
@media (min-width: 1119.98px) {
  .content-wrapper {
    padding: 0;
    max-width: 1056px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 16px;
}
.content__text {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex-shrink: 1;
  color: #1b1c21;
  font-family: TTLakes;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
}
.content__full-text {
  display: none;
}
.content__text--desc768 {
  display: none;
}
.content__read-more {
  display: flex;
  max-width: 132px;
  color: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.content__read-more::before {
  content: '';
  background-image: url("../img/icons/ic_arrows.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  order: -1;
  margin-right: 8px;
}
.content__img {
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .content {
    margin: 0;
    padding-top: 24px;
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 48px;
  }
  .content__text {
    min-width: 312px;
    padding: 0;
  }
  .content__text--desc768 {
    display: block;
  }
  .content__img {
    width: 50%;
    border-radius: 5px;
  }
}
@media (min-width: 1119.98px) {
  .content {
    column-gap: 36px;
  }
  .content__text--desc768 {
    display: none;
  }
  .content__full-text {
    display: block;
  }
  .content__img {
    margin: 0;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=main-file.css.map */
