* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  min-width: 320px;
  font-family: 'TTLakes', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.container {
  padding: 0 16px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}
@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1119.98px) {
  .container {
    max-width: 1056px;
    margin: 0 auto;
  }
}
@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url("../fonts/TTLakes-Bold.woff2") format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: #fff;
}
.header__inner {
  min-height: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 16px;
}
.header__logo-separator {
  display: none;
}
.header .button:nth-child(4), .header .button:nth-child(5), .header .button:nth-child(6) {
  display: none;
}
.header__bottom-border {
  border-bottom: 1px solid #d9fff5;
}

@media (min-width: 768px) {
  .header__logo-separator {
    display: block;
  }
  .header .button:nth-child(4), .header .button:nth-child(5), .header .button:nth-child(6) {
    display: block;
  }
  .header .logo {
    margin-right: 250px;
  }
}
@media (min-width: 768px) and (min-width: 1119.98px) {
  .header {
    display: none;
  }
}
.button {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 20px;
  display: flex;
}
.button img {
  margin: auto;
}

.button-text--before {
  color: #1b1c21;
  font-family: 'TTLakes';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: right;
}

.header__separator {
  background-image: url("../img/icons/separator.svg");
  width: 2px;
  height: 32px;
}

.main {
  background-color: #f8f8f8;
}
.main__header {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  min-height: 40px;
}
.main__title {
  display: inline-block;
  min-height: 40px;
  color: #1b1c21;
  font-family: 'TTLakes';
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
}
.main__buttons {
  display: none;
}

@media (min-width: 1119.98px) {
  .main__buttons {
    display: flex;
    column-gap: 32px;
  }
  .main__header-button {
    display: flex;
    align-items: center;
    column-gap: 9px;
  }
}
.slider-nav__items {
  display: flex;
  overflow-x: scroll;
  overflow-y: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.slider-nav__link {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 8px 22px 8px 22px;
  flex-shrink: 0;
  color: #7e7e82;
  font-family: TTLakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  white-space: nowrap;
}

@media (min-width: 1119.98px) {
  .slider-nav__items {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .slider-nav__link {
    padding: 8px 19px 8px 18px;
  }
}
.active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: white;
}

.content-wrapper {
  padding-bottom: 32px;
}

@media (min-width: 575.98px) {
  .content-wrapper {
    max-width: 540px;
    margin: auto;
    padding: 0;
    padding-bottom: 32px;
  }
}
@media (min-width: 767.98px) {
  .content-wrapper {
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 32px;
  }
}
@media (min-width: 991.98px) {
  .content-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 32px;
  }
}
@media (min-width: 1119.98px) {
  .content-wrapper {
    max-width: 1056px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
.content__main-text-wrapper {
  padding: 0 16px;
}
.content__text {
  color: #1b1c21;
  font-family: TTLakes;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
}
.content__main-text {
  margin-bottom: 16px;
}
.content__full-text {
  display: none;
}
.content__read-more {
  display: inline-flex;
  color: inherit;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.content__read-more::before {
  content: '';
  background-image: url("../img/icons/ic_arrows.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  order: -1;
  margin-right: 8px;
}
.content__img {
  background-image: url("../img/cps.png");
  background-size: cover;
  min-height: 176px;
}

@media (min-width: 768px) {
  .content {
    display: flex;
  }
  .content__main-text-wrapper {
    padding: 0;
  }
  .content__text {
    margin-right: 48px;
    min-width: 312px;
    min-height: 160px;
  }
  .content__full-text {
    display: block;
    margin-bottom: 10px;
  }
  .content__img {
    min-width: 360px;
    min-height: 208px;
    border-radius: 5px;
  }
}
@media (min-width: 1119.98px) {
  .content__text {
    margin-right: 36px;
  }
  .content__img {
    min-width: 531px;
    min-height: 307px;
  }
}

/*# sourceMappingURL=main-file.css.map */
