// base
@import "base/reset.scss";
@import 'base/base.scss';

// fonts
@import 'base/fonts.scss';


// blocks 
@import 'blocks/header.scss';
@import 'blocks/button.scss';
@import 'blocks/separator.scss';
@import 'blocks/main.scss';
@import 'blocks/slider-nav.scss';
@import 'blocks/active.scss';
@import 'blocks/content-wrapper';
@import 'blocks/content.scss';