
.icon {

    &--logo {
        width:97.25px; 
        height:51.31px;
    }
    &--search {
        width: 17px;
        height: 17px;
    }
    &--call {
        width: 18px;
        height: 18px;
    }
    &--chat {
        width: 20px;
        height: 20px;
    }
    &--profile {
        width: 20px;
        height: 18px;
    }
    &--burger {
        width: 18px;
        height: 16px;
    }
    &--check-status {
        width: 16px;
        height: 20px;
    }
    &--repair {
        width: 20px;
        height: 20px;
    }
    &--arrows {
        width: 7.41;
        height: 10.29;
    }
}