.header-container {
    padding: 0 16px;
}

  @media (min-width: 767.98px){
    .header-container {
      padding: 0 24px;
    }
  }
   
  @media (min-width: 1119.98px){
    .header-container {
      max-width: 1056px;
      margin: 0 auto;
    }
  }

.main-container {
    padding: 0 16px;
}
  @media (min-width: 767.98px){
    .main-container {
      padding: 0 24px;
    }
  }
  @media (min-width: 1119.98px){
    .main-container {
      padding: 0;
      max-width: 1056px;
      margin: 0 auto;
    }
  }