.content {
    &__main-text-wrapper {
        padding: 0 16px;
    }
    &__text {
    color: rgb(27, 28, 33);
    font-family: TTLakes;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    }
    &__main-text {
        margin-bottom: 16px;
    }
    &__full-text {
        display: none;
    }

    &__read-more {
        display: inline-flex;
        color: inherit;
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;   
    }
    &__read-more::before {
        content: '';
        background-image: url('../img/icons/ic_arrows.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        order: -1;
        margin-right: 8px;
    }
    &__img {
        background-image: url('../img/cps.png');
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 150px;
        
}
}

@media (min-width: 768px) {
    .content {
        display: flex;
        &__main-text-wrapper {
            padding: 0;
        }
        &__text {
            margin-right: 48px;
            min-width: 312px;
            min-height: 160px;
            
        }
        &__full-text {
            display: block;
            margin-bottom: 10px;
        }
        &__img {
            min-width: 360px;
            min-height: 208px;
            border-radius: 5px;
        }
    }
}

@media (min-width: 1119.98px) {
    .content {
        &__text {
            margin-right: 36px;
        }
        &__img {
            min-width: 531px;
            min-height: 307px;
            
    }
}
}