.header {
    background-color: #fff;
    &__inner {
        min-height: 87px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__bottom-border {
        border-bottom: 1px solid  rgb(217, 255, 245);
    }
}

@media (min-width: 768px) {
    .header {
        background-color: black;
    }

    // .header__inner::after {
    //     order: -1;
    //     content: '';
    //     background-image: url("/img/icons/divider.svg");
    //     width: 2px;
    //     height: 32px
    // }

    // .repair::before {
       
    //     content: '';
    //     background-image: url(/img/icons/ic_checkstatus.svg);
    //     width: 40px;
    //     height: 40px;
    // }

    
}