.header {
    background-color: #fff;
    &__inner {
        min-height: 87px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        row-gap: 16px;
    }
    &__diveder:first-of-type {
        display: none;
    }
    .button:nth-child(4), .button:nth-child(5), .button:nth-child(6) {
        display: none;
      }
    &__bottom-border {
        border-bottom: 1px solid  rgb(217, 255, 245);
    }
}

@media (min-width: 768px) {
    .header {

        &__diveder:first-of-type {
            display: block;
        }
        .button:nth-child(4), .button:nth-child(5), .button:nth-child(6),  {
            display: block;
        }
        .logo {
            margin-right: 250px;
        }
       
    }

    @media (min-width: 1119.98px){
        .header {
            display: none;
        }
}

}