.main {
    background-color: rgb(248, 248, 248);
    
    &__header { 
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        min-height: 40px;
    }
    &__title {
    display: inline-block;
    min-height: 40px;
    color: rgb(27, 28, 33);
    font-family: 'TTLakes';
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-align: left;
    }
    &__title::before {
        position: absolute;
        left: -16px;
        content: '';
        background-image: url('/img/highlight.svg');
        height: 40px;
        width: 4px;
    }
    &__buttons {
        display: none;
    }
}
@media (min-width: 768px) {
    .main {
        &__title::before {
            left: -24px;
        }
    }
}

@media (min-width: 1119.98px) {
    .main {
        &__buttons {
            display: flex;
            column-gap: 32px;
        }
        &__header-button {
            display: flex;
            align-items: center;
            column-gap: 9px;
        }
        &__title::before {
            left: -32px;
            width: 3px;
        }
    }
}
