.slider-nav {
    margin-left:-16px;
    margin-right:-16px;
    &__items {
        display: flex;
        overflow-x: scroll;
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        
    }
    &__link {
        display: inline-flex;
        align-items: center;
        height: 40px;
        padding: 8px 22px 8px 22px;
        flex-shrink: 0;
        color: rgb(126, 126, 130);
        font-family: TTLakes;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
        white-space: nowrap;

        border: 2px solid transparent;
    }
    &__link:hover {
        border: 2px solid rgb(184, 255, 236);
        border-radius: 6px;
        background: rgb(255, 255, 255);
    }
}
@media (min-width: 767.98px) {
    .slider-nav {
        margin-left:-24px;
        margin-right:-24px;
        &__items {
            padding-left: 24px
        }
    }
}
@media (min-width: 1119.98px) {
    .slider-nav {
        margin: 0;
        &__items {
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            overflow-x: initial;
        }
    &__link {
        padding: 8px 17px 8px 17px;
    }
    }
   
}