.text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: 90px;
    overflow-y: hidden;
}

@media (min-width: 768px) {
    .text-wrapper {
        row-gap: 30px;
        height: 160px;
    }
}